@media screen and (min-width: 768px) and (max-width: 992px)
{
	body
	{
		width: auto;
	}

	#logo_booki
	{
		width: 120px;
		height: auto;
	}

	#header ul
	{
		display: flex;
		flex-direction: column;
		list-style: none;
		text-decoration: none;
	}

	#header li
	{
		width: 140px;
	}


	#header a
	{
		font-size: 15px;
	}

	#header li:hover
	{
		text-decoration: none;
		border-right: 5px solid #0065FC;
		border-top: none;
	}	

	h1
	{
		font-size: 18px;
		margin-left: 20px;
	}

	p
	{
		width: auto;
		color: black;
		margin-top: 7px;
		font-size: 12px;
	}

	#filter /* Filter part */
	{
		width: 85%;
		max-width: 992px;
	}	

	.filter
	{
		width: auto;
		font-size: 15px;
	}

	#info
	{
		width: 46%;
	}

	#marseille /* Rooms */
	{
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
	}

	#popular /* Most Popular */
	{
		width: auto;
		height: auto;
		margin-bottom: 20px;
	}
	
	#group_popular_place
	{
		display: flex;
		justify-content: space-between;
	}

	.popularplace
	{
		width: 30%;
		max-height: 110px;
	}

	.popularplace img
	{
		max-width: 40%;
	}

	.popularinfo
	{
		width: auto;
	}

	#accommodation /* Room place */
	{
		width: auto;
		height: auto;
	}

	div .room
	{
		width: 30%;
	}

	.room img
	{
		width: 100%;
	}

	#activity /* Activities */
	{
		height: 645px;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-top: 10px;
	}

	#activity1 , #activity4/* Vieux port ; Parc National des Calanques */
	{
		height: 40%%;
		width: 25%;
	}

	#activity23 /* Fort de Pomègues ; Iles du Frioul */
	{
		width: 30%;
		display: flex;
	}

	#activity2 , #activity3
	{
		height: 45%;
		width: auto;	
	}

	#activity3 img
	{
		height: 80%;
	}

	#activity56 /* Notre-Dame-de-la-Garde ; Parc Longchamp */
	{
		margin-top: 30px;
		flex-direction: row;
		justify-content: space-around;
		width: 90%;
	}

	#activity5 , #activity6 
	{
		height: 50%;
		width: 38%;
	}

	#activity1 , #activity2 , #activity3 ,#activity4 , #activity5 , #activity6
	{
		box-shadow: 0px 2px 15px #999;
	}

	#footer /* Footer */
	{
		width: auto;
		justify-content: space-around;
	}
