/* The whole booki website */

body
{
	margin: 0;
	font-family: "raleway", sans-serif;
	min-width: 992px;
	box-sizing: border-box;
}

/* Header booki */

nav
{
	margin: 10px 25px 0 25px;
	height: 65px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo_booki
{

	width: 50px;
	height: 30px;
}

#header
{
	text-decoration: none;
}	

nav ul
{
	height: 65px;
	align-items: center;
	display: flex;
	list-style: none;
	text-decoration: none;
}

ul:hover
{
	text-decoration: overline solid #0065FC;
}

nav li
{
	padding-top: 5px;
	margin-right: 20px;
	margin-left: 30px;
	opacity: 60%;
	font-size: 12px;
	height: 25px;
}

li
{
	height: 65px;
}

a
{
	font-size: 12px;
	text-decoration: none;
}

a:hover
{
	color: #0065FC;
}

/* Body Section 1 Booki */

body section
{
	margin: 0 0 0 20px
}

h1
{
	font-size: 14px;
	margin: 0;
}

p
{
	margin-top: 3px;
	margin-bottom: 10px;
	font-size: 10px;
	opacity: 50%;
}

/* Section 1 Location */

h2
{
	font-size: 12px;
}

#location 
{
	font-size: 12px;
	display: flex;
	flex-wrap: nowrap;
	border: none;
	height: 30px;
	width: 40px;
}

#location i
{
	min-width: 15px;
	padding: 8px;
	padding-left: 12px;
	background-color: #F2F2F2;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

input
{
	width: 150px;
	border: 1px solid #F2F2F2;
}

button
{
	font-size: 11px;
	color: white;
	min-width: 80px;
	background-color: #0065FC;
	opacity: 120%;
	border: none;
	border-radius: 8px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0; 
}

/* Section filter */

#filter
{
	display: flex;
	font-size: 12px;
	width: 57%;
	max-width: 45%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0 8px 0;
}

.filter
{
	display: flex;
	font-size: 12px;
	border-radius: 30px;
	border: 2px solid #DEEBFF;
	color: #0065FC;
	align-items: center;
	
}

.filter i
{
	border-radius: 20px 20px;
	padding: 7px;
	margin: 0;
	background-color: #DEEBFF;
}

.filter a
{
	padding-left: 10px;
	padding-right: 10px;
}

.info
{
	width: 30%;
	display: inline-flex;
	justify-content: space-between;
	height: 20px;
	max-width: 270px;
}

.info i
{
	font-size: 8px;
	width: 7px;
	height: 7px;
	color: #0065FC;
	border: solid 1px #DEEBFF;
	background-color: white;
	border-radius: 15px 15px;
	padding: 2px;
}

.info p
{
	align-items: center;
}

/* Section pictures articles */

#accommodation
{
	border: none;
	width: 40%;
	min-width: 40%;
	height: 300px;
	background-color: #F2F2F2;
	border-radius: 10px 10px;
	margin-top: 20px;
	margin-bottom: 15px;
	padding: 25px;
}

#places1
{
	display: inline-flex;
	justify-items: space-between;
	width: 38%;
	height: 40px;
	min-width: 38%;
}

#places2
{
	margin-top: 60px;
}

#places1 img, #places2 img
{
	width: 150px;
	height: 80px;
	max-height: 80px;
	object-fit: 30px;
}

#places1 div, #places2 div 
{
	margin: 18px;
	margin-top: 0px;
	margin-left: 0;
	border-radius: 10px 10px;
	width: 150px;
	height: 120px;
	border: solid white 2px;
	background-color: white;
}

#places1 div h3, #places2 div h3
{
	margin-left: 8px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#places1 div p, #places2 div p
{
	margin-left: 8px;
	margin-top: 3px;
	margin-bottom: 3px;
}

h3
{
	font-size: 10px;
}


/* Aside most popular */

