/* The whole booki website */

body
{
	margin: 0;
	font-family: "raleway", sans-serif;
	min-width: 992px;
	box-sizing: border-box;
}

/* Header booki */

nav
{
	margin: 10px 25px 0 25px;
	height: 65px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo_booki
{

	width: 50px;
	height: 30px;
}

#header
{
	text-decoration: none;
}	

nav ul
{
	height: 65px;
	align-items: center;
	display: flex;
	list-style: none;
	text-decoration: none;
}

ul:hover
{
	text-decoration: overline solid #0065FC;
}

nav li
{
	padding-top: 5px;
	margin-right: 20px;
	margin-left: 30px;
	opacity: 60%;
	font-size: 12px;
	height: 25px;
}

li
{
	height: 65px;
}

a
{
	font-size: 12px;
	text-decoration: none;
}

a:hover
{
	color: #0065FC;
}

/* Body Section 1 Booki */

body section
{
	margin: 0 0 0 20px
}

h1
{
	font-size: 15px;
	margin: 0;
}

p
{
	margin-top: 3px;
	font-size: 12px;
	opacity: 50%;
}

#location /* Location block */
{
	display: flex;
	border: none;
	height: 30px;
	width: 40px;
}



