/* The whole booki website */

body
{
	margin: auto;
	font-family: "raleway", sans-serif;
	max-width: 1280px;
	box-sizing: border-box;
}

a
{
	color: black;
	text-decoration: none;
}

a:visited 
{
	color: black;
}

body section
{
	margin: 0;
}

/* Header booki */

header
{
	margin: 40px;
	margin-top: 0;
	margin-bottom: 15px;
}

nav
{
	width: auto;
	height: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo_booki
{
	width: 6%;
	height: auto;
}

#header
{
	text-decoration: none;
}	

#header ul
{
	height: 100%;
	align-items: center;
	display: flex;
	list-style: none;
	text-decoration: none;
}

#header li:hover
{
	text-decoration: none;
	border-top: 5px solid #0065FC;
}	

#header li
{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90px;
	width: 110px;
}

#header a
{
	display: flex;
	align-items: center;
	height: 15px;
	font-size: 14px;
}

a:hover
{
	color: #0065FC;
}

/* Body section 1 */

body section
{
	margin: 0 0px 0 20px
}

#search h1
{
	color: black;
	font-size: 18px;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 0;
}

p
{
	color: black;
	margin-top: 7px;
	font-size: 12px;
}

/* Search Location */

#location 
{
	font-size: 12px;
	display: flex;
	flex-wrap: nowrap;
	border: none;
	height: 35px;
	width: 40px;
	margin-top: 15px;
}

#location_dot i
{
	display: flex;
	font-size: 15px;
	height: 45px;
	width: 50px;
	align-items: center;
	justify-content: center;
	background-color: #F2F2F2;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

form
{
	display: flex;
}

#location input
{
	color: black;
	font-size: 16px;
	font-weight: 600;
	padding-left: 15px;
	width: 180px;
	height: 45px;
	border: 1px solid #F2F2F2;
}

#location ::placeholder
{
	color: black;
}

#location button
{
	font-size: 14px;
	color: white;
	height: 45px;
	min-width: 100px;
	background-color: #0065FC;
	border: none;
	border-radius: 10px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0; 
}

#button_mobile i
{
	display: none;
}

/* Section filter */

#groupfilter
{
	display: flex;
	width: 65%;
	align-items: center;
	justify-content: space-between;
	margin: 15px 0 8px 5Px;
	margin-top: 25px;
}

#groupfilter h3
{
	font-size: 14px;
	margin-right: 15px;
	font-weight: 600;
}

#filters
{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100%;
}

.filter
{
	display: flex;
	width: auto;
	font-size: 15px;
	border-radius: 30px;
	border: 2px solid #F2F2F2;
	color: #0065FC;
	align-items: center;
	padding-right: 10px;
}
	
.filter i
{
	border-radius: 20px 20px;
	padding: 10px;
	margin: 0;
	background-color: #DEEBFF;
}

.filter span
{
	color: black;
	font-weight: 600;
	padding-left: 12px;
	padding-right: 12px;
}

/* Information point */

#info
{
	width: 30%;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	margin-left: 3px;
}

#info i
{	
	color: #0065FC;
	font-size: 8px;
	width: 15px;
	height: 12px;
	display: flex;
	align-content: center;
	justify-content: center;
	margin-right: 5px;
	padding-top: 2px;
	border: solid #F2F2F2 1px;
	border-radius: 10px;
}	

#info p
{
	padding-top: 5px;
	height: 15px;
	display: flex;
	align-items: center;
}

/* Section rooms pictures articles */

#marseille
{
	width: auto;
	height: auto;
	display: flex;
	justify-content: space-between;
	margin-left: 20px;
	margin-right: 20px;
}

#marseille h2
{
	color: black;
	font-size: 18px;
	font-weight: 600;
}

#marseille h3
{
	font-size: 16px;
}

#accommodation
{
	border: none;
	width: 65%;
	min-width: 40%;
	height: 500px; 
	background-color: #F2F2F2;
	border-radius: 20px 20px;
	padding: 30px;
	padding-bottom: 20px;
	margin-right: 20px;
}

#accommodation h2
{
	margin: auto;
}

article
{
	margin-bottom: 25px;
}

.rooms
{
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
	height: auto;
	min-width: 40%;
}

#accommodation h4
{
	color: black;
	font-size: 14px;
}

div .room
{
	width: 30%;
	height: auto;
	background-color: white;
	border: solid white 4px;
	border-radius: 20px;
	box-shadow: 0px 1px 10px #999;
	overflow: hidden;
  	transition:transform .4s;
}

.room img
{
	width: 100%;
	height: auto;
	max-height: 100px;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
}

.room h4
{
	margin: 5px;
	margin-left: 10px;
}

.room p
{
	margin: 5px;
	margin-left: 10px;
	margin-bottom: 0;
}

.stars
{
	margin-left: 10px;
	margin-bottom: 5px;
}

.stars i
{
	color: #0065FC;
	margin-left: 10px;
	font-size: 10px;
	margin-left: 0;
}

.stars span i
{
	color: #F2F2F2;
}

.room:hover
{
	cursor:pointer;
  	transform:scale(1.08);
}

/* aside most popular */

#popular
{
	width: 320px;
	height: 500px;
	margin-top: 0;
	margin-right: 20px;
	background-color: #F2F2F2;
	padding: 30px 30px 20px;
	border-radius: 20px;
}

#popularchart
{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

#popularchart h2 
{
	margin: 0;
	width: 60%;
}

#popularchart ffa-solid fa-chart-line
{
	font-weight: bold;
	font-size: 12px;
}

#popular span i
{
	color: #F2F2F2;
}

.popularplace
{
	display: flex;
	margin-bottom: 25px;
	width: auto;
	height: 122px;
	background-color: white;
	border: solid white 4px;
	border-radius: 20px;
	box-shadow: 0px 1px 10px #999;
	overflow: hidden;
  	transition:transform .4s;
}

.popularplace:hover
{
	cursor:pointer;
  	transform:scale(1.08);
}

.popularplace a 
{
	color: black;
	text-decoration: none;
}

.popularplace img
{
	min-width: 40%;
	width: 40%;
	height: 122px;
	border-radius: 20px 0 0 20px;
	margin-right: 15px;
	object-fit: cover;
}

.popularinfo
{
	height: 100%;
	width: 90%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.popularinfo h4
{
	width: 90%;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.popularinfo p
{
	margin-top: 0;
}

.popularinfo .stars
{
	width: 100%;
	margin-left: 0;
	position: absolute;
	bottom: 0;
}

.popularinfo i
{
	color: #0065FC;
	margin-left: 5px;
	font-size: 10px;
	margin-left: 0;
}

.stars span i
{
	align-self: auto;
	color: #F2F2F2;
}

/* Marseille Activities */

#activities
{
	width: auto;
	height: auto;
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
}

#activities h2
{
	height: 20px;
	font-size: 18px;
	margin-bottom: 25px;
}

.activities
{
	height: 450px;
	width: 240px;
	margin: 20px;
	margin-left: 0;
	margin-bottom: 30px;
}

#activity
{
	display: flex;
	justify-content: space-between;
	margin-right: 20px;
	height: 430px;
	margin-bottom: 30px;
}

#activity a
{
	color: black;
	text-decoration: none;
}

/* Vieux port (1) */

#activity1
{
	height: 430px;
	width: 280px;
	box-shadow: 0px 1px 10px #999;
  	transition:transform .4s;
	overflow: hidden;
	position: relative;
	border-radius: 20px 20px;
}

#activity1_img 
{	
	height: 80%;
	width: 280px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0px 1px 10px #999;
  	transition:transform .4s;
}

#activity1_img img
{
	height: 430px;
	width: 100%;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
	object-position: 50% 90%;
	margin-bottom: 0px;
}

#activity1_title
{
	background-color: white;
	height: 12%;
	width: 100%;
  	margin-top: 0px;
  	position: absolute;
  	bottom: 0px;
}

/* Fort de Pomègues (2) ; Iles du Frioul (3) */

#activity23 
{	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 280px;
}

/* Fort de Pomègues */

#activity2 
{
	height: 55%;
	width: 280px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0px 1px 10px #999;
	overflow: hidden;
  	transition:transform .4s;
  	position: relative;
}

#activity2_img 
{	
	height: 250px;
	width: 280px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0px 1px 10px #999;
  	transition:transform .4s;
}

#activity2_img img
{
	height: 190px;
	width: 280px;
	border-radius: 20px 20px 0 0;
	object-fit: cover;	
	object-position: 100% 40%;
}

#activity2_title
{
	background-color: white;
	height: 23%;
	width: 100%;
  	margin-top: 0px;
  	position: absolute;
  	bottom: 0px;
}

/* Iles du Frioul */

#activity3 
{	
	height: 35%;
	width: 280px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0px 1px 10px #999;
	overflow: hidden;
  	transition:transform .4s;
  	position: relative;
}

#activity3_img 
{	
	height: 140px;
	width: 280px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0px 1px 10px #999;
  	transition:transform .4s;
}

#activity3_img img
{
	height: 130px;
	width: 100%;
	border-radius: 20px 20px 0 0;
	object-fit: cover;	
	object-position: 100% 33%;
	margin-bottom: 0px;
}

#activity3_title
{
	background-color: white;
	height: 34%;
	width: 100%;
  	margin-top: 0px;
  	position: absolute;
  	bottom: 0px;
}

/* Parc National des Calanques (4) */

#activity4
{
	height: 430px;
	width: 280px;
	box-shadow: 0px 1px 10px #999;
  	transition:transform .4s;
	overflow: hidden;
	position: relative;
	border-radius: 20px 20px;
}

#activity4_img 
{	
	height: 80%;
	width: 280px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0px 1px 10px #999;
  	transition:transform .4s;
}

#activity4_img img
{
	height: 430px;
	width: 100%;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
	object-position: 50% 90%;
	margin-bottom: 0px;
	filter: brightness(140%);
}

#activity4_title
{
	background-color: white;
	height: 12%;
	width: 100%;
  	margin-top: 0px;
  	position: absolute;
  	bottom: 0px;
}

/* Notre-Dame-de-la-Garde (5) ; Parc Longchamp (6) */

#activity56 
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

#activity5 , #activity6 
{
	height: 45%;
	width: 280px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0px 1px 10px #999;
	overflow: hidden;
  	transition:transform .4s;
  	justify-content: space-between;
  	position: relative;
}


#activity5_img, #activity6_img 
{	
	height: 200px;
	width: 280px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0px 1px 10px #999;
  	transition:transform .4s;
}

#activity5_img img, #activity6_img img
{
	height: 230px;
	width: 280px;
	border-radius: 20px 20px 0 0;
	object-fit: cover;	
	object-position: 100% 38%;
}

#activity5_title, #activity6_title
{
	background-color: white;
	height: 26%;
	width: 100%;
  	margin-top: 0px;
  	position: absolute;
  	bottom: 0px;
}

#activity1 h3, #activity2 h3, #activity3 h3, #activity4 h3, #activity5 h3 , #activity6 h3
{
	font-size: 16px;
	padding-left: 15px;
}

#activity1:hover, #activity2:hover , #activity3:hover, #activity4:hover, #activity5:hover, #activity6:hover
{
	cursor:pointer;
  	transform:scale(1.08);
}

/* Footer */

footer
{
	width: auto;
	background-color: #F2F2F2;
}

#footer
{
	width: 80%;
	height: auto;
	padding: 20px;
	margin-top: 20px;
	margin-left: 40px;
	display: flex;
	justify-content: space-between;
}

#footer h3
{
	font-size: 14px;
}

.links
{
	width: 200px;
}

.links a
{
	height: 10px
}


